{% extends '/skeleton.html.twig' %}

{% trans_default_domain 'application' %}

{% block title %}{{ 'title.info'|trans }}{% endblock %}

{% block content %}
    <div id="info" class="main-box">
        <h1>{{ 'info.header'|trans }}</h1>

        <h3>{{ 'info.description'|trans }}</h3>

        <ul id="infoList">
            <li><pre>{{ 'info.0'|trans }}</pre></li>
            <li><pre>{{ 'info.1'|trans }}</pre></li>
            <li><pre>{{ 'info.2'|trans }}</pre></li>
            <li><pre>{{ 'info.3'|trans }}</pre></li>
            <li><pre>{{ 'info.4'|trans }}</pre></li>
            <li><pre>{{ 'info.5'|trans }}</pre></li>
            <li><pre>{{ 'info.6'|trans }}</pre></li>
            <li><pre>{{ 'info.7'|trans }}</pre></li>
            <li><pre>{{ 'info.8'|trans }}</pre></li>
            <li><pre>{{ 'info.9'|trans }}</pre></li>
            <li><pre>{{ 'info.10'|trans }}</pre></li>
            <li><pre>{{ 'info.11'|trans }}</pre></li>
        </ul>
    </div>
{% endblock %}